h1 {
    color: rgb(37, 1, 243);
    text-align: center;
}

h2 {
    color: red;
}

body {
    margin-left: 38%;
    margin-right: 38%;
    background-image: url(as.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

select {
    font-style: italic;
    color: rgb(12, 8, 255);
    background-color: rgb(139, 165, 175);
}

.Food {
    font-family: system-ui, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: green;
}
#name{
    text-align: center;
    border-color: blue;
}

form {
    text-align: center;
    font-weight: bolder;
    border: 2px solid rgb(236, 97, 4);
    padding: 20px;
    background-color: cadetblue;
    width: 120%;
}

#button {
    padding-left: 5px;
    background-color: grey;
    margin: 3px;
    width:150px;
    border-color: black;
}

table td {
    padding: 12px;
    width: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border-color: blue;
    background-color: rgb(76, 135, 202);
}
table tr th{
    color: blue;
}
table tr,td{
    color: red;

}
#desk {
    padding: 20px 40px;
    border-color: rgb(38, 0, 255);

}