* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(130, 15, 15);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  background-color: wheat;
  height: 300px;
  width: 300px;
}
.frame {
  display: flex;
  font-size: 55px;
}

.start,
.stop,
.reset {
  background-color: rgb(50, 82, 180);
}
